:host {
  position: fixed;
  width: 100%
}

.zero {
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.3);
  transition: 1s all;
  z-index: 1;
}

.float{
  position:absolute;
  top:10px;
  left:10px;
  color:#FFF;
  z-index: 999;
  display: flex;
  cursor: pointer;
}

.menu {
  font-size: 30px;
}

.main {
  color: #fff;
  margin: auto;
}

.icon {
  font-size: 90px;
  margin-top: 10px;
}
