<!--<div fxLayout="column" fxLayoutAlign="center">-->
<!--  <img width="100%" height="auto" style="max-width: 700px; margin: auto"-->
<!--       src="/assets/illustrations/fogg/fogg-no-comments.png"/>-->
<!--  <div style="margin-left: auto; margin-right: auto">-->
<!--    <h1 style="text-align: center">Grab a cookie at the store!</h1>-->
<!--    <p style="text-align: center">Construction is ongoing, updates will be shipping soon.</p>-->
<!--  </div>-->
<!--</div>-->
<div class="zero" #zero>
  <div #topBar class="top-bar" [ngClass]="{mb: dv.mobile}" [ngStyle]="{width: zero.clientWidth + 'px'}">
    <div class="profile" fxLayoutAlign="end" fxLayoutGap="6px">
      <nz-avatar
        class="avatar"
        [ngStyle]="{ 'cursor': 'pointer' }"
        nzSize="100"
        nzSrc="/assets/images/astronaut.png"
        style="vertical-align: middle;"
        *ngIf="!dv.mobile"
      ></nz-avatar>

      <!--    <h4 nz-title style="font-weight: 200">John Doe</h4>-->
    </div>

    <div nz-col nzSpan="24">
      <div fxLayout="row" fxLayoutGap="10px">
        <i class="zwicon-shopping-bag-alt" style="font-size: 36px; color: #444"></i>
        <h3 nz-title>Store</h3>
      </div>

      <div nz-row>
        <div nz-col nzSpan="20">
          <nz-input-group [nzSuffix]="suffixIconSearch" >
            <input type="text" nz-input placeholder="Search" />
          </nz-input-group>
          <ng-template #suffixIconSearch>
            <i class="zwicon-search"></i>
          </ng-template>
        </div>

        <div nz-col nzOffset="2" nzSpan="2" fxLayout="row" fxLayoutAlign="end" fxLayoutGap="6px">
          <button nz-button nzType="default">
            <i class="zwicon-filter"></i>
          </button>

          <button nz-button nzType="default">
            <i class="zwicon-shopping-cart"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="grid" [ngStyle]="{'margin-top': topBar.clientHeight + 'px'}" fxFlex fxLayoutAlign="start">
    <!--
    <div style="max-width: 700px; margin: auto" fxLayout="column">
      <img width="100%" height="100%" src="/assets/illustrations/fogg/fogg-no-comments.png"/>
      <div style="margin-left: auto; margin-right: auto">
        <h1 style="text-align: center">Oops! Nothing to see here.</h1>
        <p style="text-align: center">We couldn't find any product to match your description.
          Try a similar keyword or use the filter.
        </p>
      </div>
    </div>
    -->

    <app-product-card *ngFor="let product of products" [product]="product" class="card"
                      [ngClass]="{md: dv.context.size == 2, sm: dv.context.size == 1 || dv.context.size == 0,
                        xs: !dv.mobile && (dv.context.size == 0)}"
    >
    </app-product-card>

  </div>
</div>

